@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-main {
  background-color: black;
}

.txt-main {
  color: #ffde59;
}

.text-primary {
  color: white;
}

.bg-muted {
  background-color: #f1f5f9;
}

body {
  font-family: var(--font-inter), sans-serif;
  font-size: 17px;
}
